$jose: 'Josefin Sans', sans-serif;
$open: 'Open Sans', sans-serif;

$brandg: #3ca25b;
$dark: #292929;


@keyframes slidedown {
    0% {height: 0%;}
    100% {height: 100%;}
}

@keyframes fadenslide {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}